---
import { Image } from "astro:assets";

const { title, artist, year, img, link } = Astro.props;
---

<a class="rounded-xl hover:p-3 transition-all hover:bg-gray-800" href={link} target="_blank">
    <div class="rounded-xl aspect-square w-full overflow-hidden">
        <Image src={img} alt={title} class="w-full h-full object-cover" />
    </div>
    <div class="py-3">
        <p class="text-sm">{title}</p>
        <p class="font-bold">{artist}</p>
        <p class="text-sm font-light text-gray-300">{year}</p>
    </div>
</a>
